# Docker Host Ports (Unique dedicated ports to prevent collision with other projects)
FRONTEND_PORT=38180
BACKEND_PORT=38150
MONGO_PORT=38127

# Backend Configuration
JWT_SECRET=meetnet_secret_key_change_in_prod
ADMIN_EMAIL=
ADMIN_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
